@model AccountViewModel

<form asp-action="Edit" asp-route-id="@Model.AccountId" method="post">
    <input type="hidden" asp-for="AccountId" />
    <div class="mb-3">
        <label asp-for="AccountName" class="form-label"></label>
        <input asp-for="AccountName" class="form-control" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AccountEmail" class="form-label"></label>
        <input asp-for="AccountEmail" class="form-control" />
        <span asp-validation-for="AccountEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AccountRole" class="form-label"></label>
        <select asp-for="AccountRole" class="form-select">
            <option value="">-- Select Role --</option>
            <option value="1">Staff</option>
            <option value="2">Lecturer</option>
        </select>
        <span asp-validation-for="AccountRole" class="text-danger"></span>
    </div>

    @* <div class="mb-3"> *@
    @*     <label asp-for="AccountPassword" class="form-label"></label> *@
    @*     <input asp-for="AccountPassword" class="form-control" /> *@
    @*     <span asp-validation-for="AccountPassword" class="text-danger"></span> *@
    @* </div> *@
    <button type="submit" class="btn btn-primary">Save</button>
</form>
